# Eclipse
.metadata/

# Frontend
frontend/node_modules/
frontend/dist/

# Backend — compiled artifacts
**/target/

# Backend — IDE files
**/.classpath
**/.project
**/.settings/
**/bin/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
